<div class="container">
  <div class="row">

      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  {{post?.title}} - <small>by {{post?.user?.name}}</small>

                  <span class="pull-right">
                      Thu, Jan 10, 2019 7:50 AM
                  </span>
              </div>
              <div class="panel-body">
                  <p>{{post?.body}}</p>
                  <p>
                      Category: <span class="label label-success">{{post?.category?.name}}</span> <br>

                      <span *ngFor="let tag of post?.tags" class="label label-danger">{{tag?.name}}</span>
                  </p>
              </div>
          </div>

<form [formGroup]="commentForm">
          <div class="panel panel-default">
              <div class="panel-heading">
                 by- {{post?.user?.name}}
              </div>

              <div class="panel-body">
                  <p>{{post?.comment?.content}}</p>
              </div>
          </div>

      </form>

      </div>





  </div>


</div>
